* {
    margin: 0;
    padding: 0;
    /* line-height: 1.2;    */
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

:root {
    --color-background: whitesmoke;
    --color-text: black;
    --color-secondary: black;
    --button-text: whitesmoke;

    font-family: 'Source Code Pro';
}

:root.dark {
    --color-background: #22272e;
    --color-text: #a0afbe;
    --color-secondary: #373e47;
    --button-text: #a0afbe;
}

body  {
    background-color: var(--color-background);
}
.container {
    padding: 0.9375rem;
}

.primary-type {
    font-family: 'Varela Round';
}

.secondary-type {
    font-family: 'Source Code Pro';
}


.tc {
    text-align: center;
    color: var(--color-text);
}

.tl {
    text-align: left;
    color: var(--color-text);
}

.tm {
    font-size: 1em;
    color: var(--color-text);
}

.txl {
    margin: 1rem 0;
    font-size: 1.7em;
    line-height: 1.3;
}
