* {
    margin: 0;
    padding: 0;
    /* line-height: 1.2;    */
}

.container {
    padding: 0.9375rem;
}

.primary-type {
    font-family: 'Varela Round';
}

.secondary-type {
    font-family: 'Source Code Pro';
}

.intro-cta {
    padding: 0.9375rem;
}

@media only screen and (min-device-width: 900px) {
    .intro-cta {
        width: 500px;
        margin: auto
    }
}

.tc {
    text-align: center;
}

.tm {
    font-size: 1em;
}

.txl {
    margin: 1rem 0;
    font-size: 1.7em;
    line-height: 1.3;
}
