.blogs a {
    text-decoration: none;
    color: var(--color-text);
    margin-bottom: 1rem;
}

.blog-list {
    margin: 1.5rem 10%;
}

.blogs h3 {
    text-align: left;
}

.post-details {
    margin-top: .5rem;
    display: flex;
    justify-content: space-between;
}

.blog-mb {
    margin-bottom: 2rem;
}

.header-image {
    width: 100%;
}

@media only screen and (min-device-width: 900px) {
    .blog-list {
        width: 500px;
        margin: 1rem auto;
    }
}